/.DS_Store
/Data_Analyzer.py
/Data_JSON.py
/Domain.pddl
/Problem.pddl
/Screenshot 2022-07-09 at 1.51.55 PM.png
/Sequence of operation.txt
/Smart_Cities Code.code-workspace
/Untitled-1.py
/__pycache__
/dataframe.py
/domain (1).pddl
/thinesh_domain .pddl